@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans');
*{
    font-family: 'Josefin Sans', sans-serif;
}
.cardContent-minititles{
    font-style: italic;
    text-decoration: underline;
}
.main{
    /*width: 700px;*/
    width: 70%;
    height: 100%;
    border-radius: 15px;
    background-color: #01579b;
    box-shadow: #424242 0px 10px 10px 0px;
}
.top{
    height: 60px;
    background-color: #424242;
    color: whitesmoke;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    font-family: 'Recursive', sans-serif;
    display: flex;
    justify-content: space-between;
}
.header{
    background-color: #424242;
    color: whitesmoke;
    padding: 10px;
    font-size: 28px;
    border-radius: 15px 15px 0 0;
    font-family: 'Recursive', sans-serif;
}

.day{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.temp{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 18px;
}

.flex{
    display: flex;
    justify-content: space-between;
}
.sunrise-sunset{
    display: inline-flex;
     padding: 15px;
     color: whitesmoke;
     font-family: 'Recursive', sans-serif;
     font-size: 16px;
 }
.description{
    padding: 15px;
    color: whitesmoke;
    font-family: 'Recursive', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.button{
    width: 35px;
    height: 35px;
}

