.aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.app-main-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    margin: 1em;
}